
@{
    ViewData["Title"] = "AllRamen";
    var RamenList = ViewData["allRamen"];
}


<h1>All Ramen</h1>

<div class="container text-center">
    <div class="row">
        @foreach (var r in (IEnumerable<Ramen>)RamenList)
        {
            <div class="col-3">
                <div class="card my-2" style="width: 18rem;">
                    <img src="@r.ImageURL" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@r.Name</h5>
                        <p class="card-text text-truncate">@r.ShortDescription</p>
                        <a  class="btn btn-primary" asp-controller="Ramen" asp-action="Detail" asp-route-id="@r.Id">Detail</a>
                    </div>
                </div>

            </div>
                }
    </div>
 </div>